.items-container {
    width: 80%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
}

.item {
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
}

.item-header {
    text-align: left;
    color: blue;
    font-weight: 400;
}

.product-img img {
    margin-right: 20px;
}

.product-info p {
    margin: 10px 0;
}

.instock {
    color: green;
}

.cart-btn {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 10px 20px;
    border-style: solid;
    margin: 15px 0;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
}

.cart-btn:hover {
    background: #d2a83f;
}